<% unless current_user.nil? %>
	<!-- Begin page heading -->
<div class="row">
	<div class="col-md-2">
		<h1 class="page-heading">Blog list</h1>
	</div>
	<div class="col-md-10" style="margin-top: 10px;">
		<%= link_to "New Post", new_post_path, class: "btn btn-danger" %>
	</div>
</div>
<!-- End page heading -->

<div class="row">
	<div class="col-md-12">
		<% @posts.each do |post| %>
		<!-- BEGIN FEATURED POST -->
		<div class="featured-post-wide">
			<!-- <img src="assets/img/photo/wide/img-1.jpg" class="img-responsive" alt="Image"> -->
			<div class="featured-text relative-left">
				<!-- <i class="fa fa-picture-o icon-danger icon-square icon-xs icon-type"></i> -->
				<h3><a href="blog-list.html#fakelink"><%= post.title %></a></h3>
				<p class="date"><%= distance_of_time_in_words_to_now(post.created_at) %> ago</p>
				<p>
					<%= truncate(post.body.html_safe, length: 240) %>
				</p>
				<p class="additional-post-wrap">
					<span class="additional-post"><i class="fa fa-user"></i>by <a href="blog-list.html#fakelink"><%= post.user.full_name %></a></span>
					<span class="additional-post"><i class="fa fa-clock-o"></i><a href="blog-list.html#fakelink"><%= post.created_at.strftime("%B %d, %Y") %></a></span>
					<span class="additional-post"><i class="fa fa-comment"></i><a href="blog-list.html#fakelink">3 comments</a></span>
				</p>
				<hr />
				<p class="text-right"><%= link_to "Read More", post_path(post.id), class: "btn btn-success"  %></p>
			</div><!-- /.featured-text -->
		</div><!-- /.featured-post-wide -->
		<!-- END FEATURED POST -->
		<% end -%>
		<%= will_paginate @posts %>
	</div>
</div>
<% end -%>
