<% unless current_user.nil? %>
	<!-- Begin page heading -->
<div class="row">
	<div class="col-md-2">
		<h1 class="page-heading">Blog list</h1>
	</div>
	<div class="col-md-10" style="margin-top: 10px;">
		<%= link_to "New Post", new_post_path, class: "btn btn-danger" %>
	</div>
</div>
<!-- End page heading -->

<div class="row">
	<div class="col-md-12">
			<ul class="media-list media-sm blog-list">
				<% @posts.each do |post| %>
				<li class="media">
				<div class="col-md-1">
						<a class="pull-left" href="#">
						  <%= gravatar_for(post.user, "home") %>
						</a>
				</div>	
				<div class="col-md-11">
					<div class="the-box no-margin no-border">
						<div class="media-body">
							<p><strong><a href="<%= user_posts_path(post.user.id) %>"><%= post.user.full_name %></a></strong> wrote a post</p>
							<h4 class="media-heading"><a href="<%= post_path(post.id) %>"><%= post.title %></a></h4>
							<%= truncate(post.body, length: 240, escape: false) %>
							<p class="text-muted"><small><%= distance_of_time_in_words_to_now(post.created_at) %></small></p>
						</div><!-- /.media-body -->
					</div>	
				</div>
			  	</li>
				<% end -%>
				<%= will_paginate @posts %>
			</ul>
	</div>
</div>
<% end -%>