<script type="text/javascript">
  $("#header-id").remove();
  $("body").css({"padding-top": "0px"})
  $(".page-content").css({"background": "#37BC9B"})
</script>
<div class="login toolkits">
<div class="text-center">
  <h2>Sign In</h2>
</div>

  <div class="login-wrapper">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group has-feedback lg right-feedback no-label">
    <!-- <%= f.label :email %><br /> -->
    <%= f.email_field :email, class: "form-control no-border input-lg rounded solution", placeholder: "Email" %>
    <span class="fa fa-envelope form-control-feedback iconposition"></span>
  </div>

  <div class="form-group has-feedback lg right-feedback no-label" >
    <!-- <%= f.label :password %> -->
    <%= f.password_field :password, autocomplete: "off", class: "form-control no-border input-lg rounded solution", placeholder: "Password" %>
    <span class="fa fa-lock form-control-feedback iconposition"></span>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

   <div class="actions">
      <%= f.submit "Sign In", class: "btn btn-warning btn-lg btn-perspective btn-block" %>
    </div>
<% end %>
<br>
<strong><%= render "devise/shared/links" %></strong>
  </div>
</div>