<div class="the-box full-width full">
	<div class="row">
		<div class="col-md-12">
			<div class="blog-detail-image">
				<!-- <img src="assets/img/photo/large/img-14.jpg" class="img-blog" alt="Blog image"> -->
				<div class="blog-title">
					<h5>WRITTEN BY</h5>
					<a href="javascript:void(0)"><%= gravatar_for(@post.user) %></a>
					<p><strong><%= @post.user.full_name %></strong></p>
					<h1><%= @post.title %></h1>
					<!-- <h4>- in <a href="blog-detail.html#fakelink">Category name here</a></h4> -->
				</div><!-- /.blog-title -->
			</div><!-- /.blog-detail-image -->
			
			<div class="the-box no-border blog-detail-content">
				<p><span class="label label-info square"><%= @post.created_at.to_time.localtime.strftime("%B %d, %Y @%I:%M:%S %p") %></span></p>
				<p class="text-justify">
					<%= @post.body.html_safe %>
				</p>
				<div class="row">
					<div class="col-md-12">
						<%= link_to "Delete Post", post_path(@post.id), method: :delete, class: "btn btn-danger" %>
						<%= link_to "Back", posts_path, class: "btn btn-primary" %>
					</div>
				</div>
				<hr />
				
				<p><span class="label label-info square">LEAVE A COMMENT</span></p>
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="Your name">
					</div>
					<div class="form-group">
						<input type="email" class="form-control input-lg" placeholder="Your email address">
					</div>
					<div class="form-group">
						<input type="url" class="form-control input-lg" placeholder="Your website">
					</div>
					<div class="form-group">
						<textarea class="form-control input-lg no-resize" style="height: 200px" placeholder="Your comment"></textarea>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success btn-lg"><i class="fa fa-comment"></i> Submit comment</button>
					</div>
				</form>
			</div><!-- /the.box .no-border -->
		</div>
	</div>
</div>